[client]
port = 3306
socket = /tmp/mysql.sock
default-character-set = utf8mb4


[mysqld]

user = mysql
port = 3306

datadir= /var/lib/mysql

socket= /tmp/mysql.sock

symbolic-links=0

log-error=/var/lib/mysql/error.log

slow_query_log=1

slow_query_log_file=/var/lib/mysql/mysql-slow.log

long_query_time=5

pid-file=/var/run/mysqld/mysqld.pid

open_files_limit = 65535

#开启该参数的时候，Innodb将每个新创建的表的数据及索引存储在一个独立的.ibd文件里，而不是系统的表空间
innodb_file_per_table = ON

#不区分大小写
lower_case_table_names=1

#默认InoDB存储引擎
default_storage_engine = InnoDB

#默认编码utf8mb4
character_set_server = utf8mb4

init_connect='SET NAMES utf8mb4'

#禁止DNS解析，使mysql.user表中基于主机名的授权将无法使用
skip_name_resolve = 1

#该值设置过小将导致单个记录超过限制后写入数据库失败，且后续记录写入也将失败
max_allowed_packet = 100M

#MySQL最大连接数
max_connections = 2000

#阻止过多尝试失败的客户端以防止暴力破解密码
max_connect_errors = 100

#临时表的内存缓存大小,单位字节,
#临时HEAP数据表的最大长度(默认设置是32M); 超过这个长度的临时数据表将被转换为MyISAM数据表并存入一个临时文件
tmp_table_size = 67108864


#在参加JOIN操作的数据列没有索引时为JOIN操作分配的缓存区长度(默认设置是128K)
join_buffer_size = 134217728

#服务器关闭交互式连接前等待活动的秒数，参数默认值：28800秒（8小时）
interactive_timeout = 5400

#服务器关闭非交互连接之前等待活动的秒数。参数默认值：28800秒（8小时）
wait_timeout = 86400

#为从数据表顺序读取数据的读操作保留的缓存区的长度(默认设置是128KB)
read_buffer_size = 16777216

#类似于read_buffer_size选项，但针对的是按某种特定顺序(比如使用了ORDER BY子句的查询)输出的查询结果(默认设置是256K)
read_rnd_buffer_size = 33554432

#默认值是1048576字节
#sort_buffer_size = 33554432

#用来存放索引区块的RMA值(默认设置是8M)
key_buffer_size = 256M

#MySQL数据库事务隔离级别,READ-COMMITTED事务隔离级别，只有在事务提交后，才会对另一个事务产生影响，并且在对表进行修改时，会对表数据行加上行共享锁
transaction_isolation = READ-COMMITTED


sql-mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
explicit_defaults_for_timestamp=false



###########replication##########
#开启GTID
gtid-mode = on
enforce-gtid-consistency = true
